<div id="home-container">
  <div class="home-container">
    <h2 class="input-title">登録完了しました！</h2>
  </div>
  <div id="home-input-container">
    <%= link_to 'MyページへGO!', hello_index_path, class: "next_new_user_button" %>
  </div>
</div>
