  <div class="home-body">
    <div class="home-input-container">
      <h2 class="input-title">R I S E 🖋 N O T E</h2>
      <div class="start-button">
        <%= link_to 'Start the app', new_user_registration_path, class: "next_new_user_button" %>
      </div>
    </div>
  </div>