<div id="home-container">
  <div class="home-title-container">
    <h2 class="input-title">ライズノート</h2>
  </div>

  <div id="home-input-container">
    <%= link_to 'ライズをはじめる', new_user_registration_path, class: "next_new_user_button" %>
  </div>
</div>


 
 <%# Vue.jsでの処理
 ニックネーム入力画面を表示する %>
 <%# <button @click="nextStep" id="next-button">ライズをはじめる</button> %>

  <%# <script>
    new Vue({
      el: '#app',
      data: {
        titleText: 'ニックネームを入力',
        nickname: ''
      },
      methods: {
        nextStep: function() {
          console.log('次へボタンがクリックされました');
        }
      }
    });
  </script> %>