header {
  background: rgba(60, 60, 60, 0.8); /* 背景色に透明度を追加 */
  padding: 10px;
  box-shadow: #3b3939;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.system-name {
  font-size: 20px;
  font-weight: bold;
}

#center-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100vh;
  margin-top: 5vh;
}

.form-container {
  display: flex;
  flex-direction: column; /* 子要素を縦に並べます */
  align-items: center; /* 子要素を中央揃えにします */
  width: 400px; /* フォームの幅を適宜調整 */
}

.input-title {
  font-size: 35px;
  font-weight: bold;
  margin: 20px 0; /* タイトルの上下のマージンを調整 */
}

#nickname-input-container {
  margin-top: 20px;
}

label {
  font-size: 16px;
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px; /* 余白の調整 */
}

#next-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 70px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-top: 10px; /* ボタンの位置調整 */
}

#next-button:hover {
  background-color: #2980b9;
}

.new-registration a {
  font-size: 20px;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
}

 /* 入力フォームの横幅を拡張します。 */
input[type="email"],
label {
display: block; /* ラベルをブロック要素にします。 */
text-align: left;
margin-bottom: 5px; /* ラベルと入力フォームの間の余白 */
margin-top: 10px; /* ラベルと前の入力フォームの間の余白 */
}

input[type="email"],
input[type="password"] {
  width: 300%; /* フォームの幅をform-containerに合わせる */
  max-width: 400px; /* 最大幅もform-containerに合わせる */
  /* ...他のスタイル属性... */
}