#home-container {
  display: flex;          /* Flexboxを有効にする */
  flex-direction: column; /* 子要素を縦方向に並べる */
  justify-content: flex-start; /* 上端から内容を開始する */
  align-items: center;     /* 子要素を水平方向の中央に配置 */
  height: 100vh;           /* ビューポートの高さに合わせる */
}

.home-title-container {
  text-align: center; /* 中央揃えにする */
  margin-top: 20vh;   /* 画面の上部からのスペースを空ける */
}

.next_new_user_button{
  background-color: #3498db;
  color: #fff;
  padding: 7px 30px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;

}

/* レスポンシブ対応や他のスタイリングが必要な場合は、追加でCSSをここに書く */
